PORT=443
DATABASE_URL=postgresql://postgres:12345678@localhost:5432/LMS
FRONT_URL=https://lms-frontendvlados-1.onrender.com
SECRET_KEY=43a6de2252affc8941dbc61e47273ad18b77757ddae9c5b45c40a05a3fceb120
OPENAI_API=
